[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"
pandas = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
sklearn = "*"
numpy = "*"
matplotlib = "*"

[packages]
fastapi = "*"
pandas = "*"
plotly = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
flask = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
